<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Client View</title>
    </head>
    <body>
        <h1>Edit Review</h1>
        <form action="#" th:action="@{/review/id}" th:object="${review}" method="get">
            <p>Id: <input type="text" name="id" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>